.contact-us-card {
    width: 60%;
    height: 100%;
    margin: 10px auto;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}
.form-grid {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    grid-auto-columns: 1fr;
}
.textarea-container {
    display: grid;
    grid-template-rows: auto 1fr;
}
.textarea-container > textarea {
    resize: none;
}
@media screen and (max-width: 576px) {
    .contact-us-card {
        width: 90%;
    }
    .form-grid {
        grid-template-columns: 100%;
        grid-auto-rows: min-content;
        row-gap: 0;
        column-gap: 0;
    }
    .textarea-container > textarea {
        resize: vertical;
    }
}
