:root {
    --main-color: #e2dbbe;
    --color-2: #d5d6aa;
    --color-3: #9dbbae;
    --color-4: #769fb6;
    --color-4: #188fa7;
    --alt: #295A68;
    --alt2: #80A0B5;
}

@font-face {
    font-family: mont;
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

html,body {
    width: 100%;
    height: 100vh;
}

h2{
    font-family: mont, sans-serif;
    font-size: 2.5em;
     color: var(--alt);
}

body {
    background-color: var(--main-color);
}

.links{
    margin: 0 auto;
    height: 100%;
    width:100%;
    border-radius: 150px 150px 0px 0px;
    background-color: var(--alt2);
}