:root {
    --color-1: #e2dbbe;
    --color-2: #d5d6aa;
    --color-3: #9dbbae;
    --color-4: #769fb6;
    --color-4: #188fa7;
    --color-5: #115B6A;
    --color-6: #0C404A;
}
html {
    width: 100%;
    height: 1fr;
}
body {
    background-color: var(--color-1);
}
body.landing {
    height: 100%;
    background-image: url('imgs/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    /* background-color: var(--color-1); */
}
.svg-icon {
    vertical-align: bottom;
}
.links > .link > a {
    color: var(--color-5);
}
.links > .link > a > img {
    width: 40px;
    height: auto;
}
.links > .link > a:hover {
    color: var(--color-4);
}

.content {
    width: 100%;
    margin-top: 50px;
}
.content > *{
    color: var(--color-5);
}
.content > .row > * > p {
    color: gray;
    font-weight: bold;
}



/* overrides */
.color-override-5 {
    --bs-btn-color: var(--color-5);
    --bs-btn-border-color: var(--color-5);
    --bs-btn-hover-bg: var(--color-5);
    --bs-btn-hover-border-color: var(--color-5);
    --bs-btn-active-bg: var(--color-5);
    --bs-btn-active-border-color: var(--color-5);
    --bs-nav-link-color: var(--color-5);
    --bs-navbar-active-color: var(--color-6);
    --bs-nav-link-hover-color: var(--color-6);
    --bs-dropdown-link-hover-bg: var(--color-5);
    --bs-dropdown-link-active-bg: var(--color-5);
    --bs-dropdown-link-hover-color: white;
}
.nav-link {
    position: relative;
}
.nav-link.active-nav-link {
    color: var(--color-6);
}
.nav-link.active-nav-link::after {
    content: "";
    transition: all 500ms ease;
    width: 90%;
    height: 3px;
}
.nav-link::after {
    content: "";
    transition: all 500ms ease;
    position: absolute;
    text-align: center;
    left: 5px;
    bottom: 5px;
    margin: auto;
    width: 0;
    height: 3px;
    background-color: var(--color-6);
}
.nav-link:hover {
    transition: all 300ms ease;
}
.nav-link:hover::after {
    content: "";
    transition: all 500ms ease;
    width: 90%;
    height: 3px;
}
.search-btn {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100px;
    padding: 1px 5px;
}
.search-btn:hover, .search-btn:active {
    transition: all 300ms ease;
    background-color: #CACACA;
}

@media screen and (max-width: 768px) {
    .nav-link:hover::after {
        content: "";
        width: 0%;
    }
}

